// {
//   "printWidth": 50,
//   "tabWidth": 2,
//   "useTabs": true,
//   "semi": true,
//   "singleQuote": true,
//   "trailingComma": "all",
//   "bracketSpacing": true,
//   "bracketSameLine": true,
//   "arrowParens": "always",
//   "endOfLine": "lf",
//   "proseWrap": "preserve",
//   "htmlWhitespaceSensitivity": "css",
//   "vueIndentScriptAndStyle": false,
//   "embeddedLanguageFormatting": "auto",
//   "singleAttributePerLine": false
// }
